body{
  background-color:lightgray;
  color:#222;
}
.top-container{
    padding: 4rem;
    background-color:teal;
    text-align: center;
}
/*.content {
width: 100%;
margin: 0 auto;
height: 100%;
background-color:#1f2a38;
color:white;
padding:0px;
}*/
.conn{
    font-size: 20px;
    padding-left: 350px;
    float: left;
    text-align:justify;
    font-weight: lighter;
    font-family: cursive;
    background-color: lightgray;
    color:#000;
}
.youths{
    font-size: 20px;
    padding-left: 350px;
    float: left;
    text-align:justify;
    font-weight: lighter;
    font-family: cursive;
    background-color: lightgray;
    color:#000;
}
.pesh{
    font-size: 20px;
    padding-right: 350px;
    float: right;
    text-align:justify;
    font-weight: lighter;
    font-family: cursive;
    background-color: lightgray;
    color:#000;
}
#img1{
    float:left;
    padding-left:0px ;
    padding-top: 10px;
    margin-top: 20px;
    margin-left: 20px;
    position: absolute;
}
#img2{
    float:left;
    padding-left:0px ;
    padding-top: 10px;
    margin-top: 20px;
    margin-left: 20px;
    position: absolute;
}
#img3{
    float:left;
    padding-left:0px ;
    padding-top: 10px;
    margin-top: 20px;
    margin-left: 20px;
    position: absolute;
}
#img4{
    float:left;
    padding-left:0px ;
    padding-top: 10px;
    margin-top: 20px;
    margin-left: 20px;
    position: absolute;
}
.me {
  text-align: center;
  color:white;
  margin-top: 20px;
  font-size: 20px;
  letter-spacing: 2px;
  font-family:serif;
}
.head{
  min-height: 90px;
background-color:#354457 ;
 padding-top: 10px;
padding-bottom: 20px;
font-size: 30px;
color:white;
text-align: center;
}
p{
  text-align: center;
  padding:10px;
  margin-bottom:20px;
  font-family: sans-serif;
}
.pa{
  text-align:center;
  color:#364052;
  font-family: sans-serif;
}
.pe{
  text-align:center;
  color:#364052;
  font-family:serif;
}
.pi{
  text-align:center;
  color:#364052;
  font-family:serif;
}
.icons {
  text-align:center;
  }
.icons i{
  font-size: 25px;
  }
.icons ul li{
  display: inline;
  list-style: none;
  padding-right: 30px;
}
.icons ul li a{
  color:blue;
}
.footer{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: teal;
   text-align:center;
}


.nav ul{
  float: right;
  list-style-type: none;
  margin: 0 auto;
}

.nav a:hover{
    color:blue;
    background:#808080;
    filter:brightness(50%);
    text-shadow: -1px -1px -1px darkgray;
  }


.nav ul li{
  padding-top: 5%;
  display: inline-block;
  font-family:'opensans-regular',sans-serif;
}

.nav ul li a{
  padding-top: 3%;
  padding: 8px 25px;
  color:white;
  font-size: 20px;
  text-decoration: none;
}