body{
  background-color:lightgray;
  color:#222;
}
.top-container{
    padding: 4rem;
    background-color:teal;
    text-align: center;
}
/*.content {
width: 100%;
margin: 0 auto;
height: 100%;
background-color:#1f2a38;
color:white;
padding:0px;
}*/
.conn{
    font-size: 20px;
    padding-left: 350px;
    float: left;
    text-align:justify;
    font-weight: lighter;
    font-family: cursive;
    background-color: #fff;
    color:#000;
}
.pesh{
    font-size: 20px;
    padding-right: 350px;
    float: right;
    text-align:justify;
    font-weight: lighter;
    font-family: cursive;
    background-color: #fff;
    color:#000;
}
#img1{
    float:left;
    padding-left:0px ;
    padding-top: 10px;
    margin-top: 20px;
    margin-left: 20px;
    position: absolute;
}
.me {
  text-align: center;
  color:white;
  margin-top: 20px;
  font-size: 20px;
  letter-spacing: 2px;
  font-family:serif;
}
.head{
  min-height: 90px;
background-color:#354457 ;
 padding-top: 10px;
padding-bottom: 20px;
font-size: 30px;
color:white;
text-align: center;
}
p{
  text-align: center;
  padding:10px;
  margin-bottom:20px;
  font-family: sans-serif;
}
.pa{
  text-align:center;
  color:#364052;
  font-family: sans-serif;
}
